*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkorchid;
}
.main_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin: 2.5rem;
    padding: 2rem;
    border-radius: 0.8rem;
    background-color: rgba(127, 255, 212, 0.466);
}
.container h1{
    margin-bottom: 2rem;
}
.grid{
    display: grid;
    border-radius: 0.8rem;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    border: 4px solid rgba(0, 0, 0, 0.3);
}
.grid div{
    width: 30px;
    height: 30px;
}

.shooter{
    background-color: blue;
}
.invader{
    background-color: purple;
    border-radius: 50%;
}
.boom{
    background-color: red;
}
.laser{
    background-color: yellow;
}